#container {
  position: absolute;
  width: auto;
  height: auto;
}

.gridRow{
  height: 25px;
}

.cell {
    border: .1px solid gray;
    min-width: 25px;
    min-height: 25px;
    display: inline-block;
    
  }