body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: #720000
}

#container {
  border: 1px solid;
  width: 900px;
  height: 900px;
  margin: 20px auto;
  display: block;
  padding: 0;
}

#reset {
  position: center;
  margin-top: 15px;
}

.gridRow{
  display: flex;
}

.cell {
  
  display: inline-block;
}

#colorChange{
  margin-right: 39%;
}