body {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

#container {
  border: 1px solid;
  width: 900px;
  height: 900px;
  margin: 20px auto;
  display: block;
  padding: 0;
}

#reset {
  position: center;
}

.gridRow{
  display: flex;
}

.cell {
  border: .1px solid gray;
  display: inline-block;
}